In [1]:
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
type(fuel_utility)
missing = fuel_utility.duplicated().any()
print(missing)

False

In [2]:
#Question 1

a=[1,2,3,4,5,6]
b=[13,21,24]
print(a.extend(b))
print(a.append(b))

None
None

In [3]:
#Question 3
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
differ = fuel_utility.groupby(fuel_utility['fuel_type_code_pudl'])

lowest_avg = differ.mean()
print(lowest_avg)

                     utility_id_ferc1  report_year  fuel_qty_burned  \
fuel_type_code_pudl
coal                       115.637534  2004.623143     1.903473e+06
gas                        124.122062  2005.978060     4.843183e+06
nuclear                    107.397311  2002.970660     5.454838e+06
oil                        113.236235  2007.195933     6.311677e+04
other                      110.467066  2001.700599     2.948137e+06
waste                      154.253968  2005.650794     1.171914e+05

                     fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
fuel_type_code_pudl
coal                           20.762780                  67.421830
gas                             1.021913                  13.659397
nuclear                        17.582120                4955.157002
oil                             5.814377                 168.877086
other                           0.572752                  18.253856
waste                           0.341163                  19.518122

                     fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
fuel_type_code_pudl
coal                                   116.951141             1.787190
gas                                     12.095172             5.408876
nuclear                              28616.915039             1.716559
oil                                    313.907691            12.698732
other                                   16.871485           155.084910
waste                                   18.413052           822.709937

In [4]:
#Question 4
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
fuel_utility.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [5]:
#Question 5
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
kurtosis = fuel_utility['fuel_qty_burned'].kurt()
Skewness = fuel_utility['fuel_qty_burned'].skew()

print(kurtosis)
print(Skewness)

651.3694501337732
15.851495469109503

In [6]:
#Question 6A
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
missing = fuel_utility.isnull().any()
print(missing)

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [7]:
#Question 6B and C
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
missing_sum = pd.isnull(fuel_utility['fuel_unit']).sum()
percent_missing = fuel_utility.isnull().sum() * 100 / len(fuel_utility)
print(percent_missing)
print(missing_sum)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64
180

In [8]:
#Question 7
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
print(fuel_utility['fuel_unit'])

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [9]:
#Question 8
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
fuel_utility.corr(method = 'pearson')

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [10]:
#Question 9
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
differ = fuel_utility.filter(fuel_utility['fuel_type_code_pudl']== 'coal')
change = fuel_utility['fuel_cost_per_unit_burned'].pct_change()
print(change)

0             NaN
1       -0.000538
2        1.137783
3        0.188570
4       -0.941326
           ...
29518   -0.650840
29519   -0.236402
29520    0.306849
29521   -0.358491
29522   -1.000000
Name: fuel_cost_per_unit_burned, Length: 29523, dtype: float64

In [11]:
#Question 10
import pandas as pd
fuel_utility = pd.read_csv('fuel_climate.csv')
differ = fuel_utility.groupby('report_year')[['fuel_cost_per_unit_delivered']].mean()
print(differ)

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966